body {
	font-family: "arial", Serif;
}

section {
	float:left;
	min-height: 130px;
	width: 100%;
	margin: 0px;
	padding: 5px;
	border-top: 0.5px solid black;
}

footer {
	float:left;
	min-height: 50px;
	width: 100%;
	text-align: center;
}

h2 {
	margin-top: 30px;
}

h2 span {
	display: none;
}

h2 span img {
	height: 18px;
	margin-right: 5px;
}

footer img {
	height: 20px;
}

article {
	display: none;
	position: relative;
}

#photography {
	/*background-image: url("img/photography.png");
	background-repeat: no-repeat;
	background-position: left top;*/
}

#contact {
	
}

#contact h2 {
	margin-top: 10px;
}

#contact form {
	position: relative;
	width: 470px;
	height: 350px;
}

#contact form label {
	position: relative;
	float: left;
	width: 150px;
	height: 20px;
	text-align: right;
	margin-right: 10px;
	margin-top: 5px;
}

#contact form input {
	position: relative;
	float: left;
	margin-top: 5px;
}

#contact form textarea {
	float: left;
	position: relative;
	width: 300px;
	height: 150px;
	margin-top: 5px;
}

#contact form button {
	float: left;
	position: relative;
	margin-left: 87%;
	margin-top: 5px;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@-moz-keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@-ms-keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@-o-keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.titleSection:hover h2 {
  animation-name: bounce;
}

.titleSection:hover h2 span {
  display: inline;
  animation-name: bounceIn;
}

.titleSection:hover article {
	display: inline;
}

.titleSection:hover {
	opacity: 0.5;
	background-color: white;
	color: #0080FF;
	text-shadow: none;
}