body {
	font-family: "arial", Serif;
}

header {
	width: 100%;
	padding: 0 0%;
	display: table;
	margin: 0;
	max-width: none;
	height: 100vh;
}

section {
	float:left;
	min-height: 130px;
	width: 99%;
	margin: 0px;
	padding: 5px;
	border-top: 0.5px solid black;
}

footer {
	float:left;
	min-height: 50px;
	width: 99%;
	text-align: center;
}

nav {
	position: fixed;
	right: 0px;
	top: 0px;
	text-align:right;
}

nav #menu:hover ul {
	display: inline;
}

nav p {
	display: none;
}

nav ul {
	display: none;
	list-style: none;
	padding: 0px;
}

nav ul li {
	margin: 0px;
}

nav ul li a:hover {
	color: red;
}

header img {
	display: block;
	width: 74px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

header h1 {
	width: 200px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

header h2 {
	width: 400px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

header p {
	width: 800px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	margin-top: 30px;
}

h2 span {
	display: none;
}

h2 span img {
	height: 18px;
	margin-right: 5px;
}

footer img {
	height: 20px;
}

article {
	display: none;
	position: relative;
}

#photography {
	/*background-image: url("img/photography.png");
	background-repeat: no-repeat;
	background-position: left top;*/
}

#contact {
	
}

#contact h2 {
	margin-top: 10px;
}

#contact form {
	position: relative;
	width: 470px;
	height: 350px;
}

#contact form label {
	position: relative;
	float: left;
	width: 150px;
	height: 20px;
	text-align: right;
	margin-right: 10px;
	margin-top: 5px;
}

#contact form input {
	position: relative;
	float: left;
	margin-top: 5px;
}

#contact form textarea {
	float: left;
	position: relative;
	width: 300px;
	height: 150px;
	margin-top: 5px;
}

#contact form button {
	float: left;
	position: relative;
	margin-left: 87%;
	margin-top: 5px;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@-moz-keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@-ms-keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@-o-keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.titleSection:hover h2 {
  animation-name: bounce;
  color: #9E9E9E;
}

.titleSection:hover h2 span {
  display: inline;
  animation-name: bounceIn;
}

.titleSection:hover article {
	display: inline;
	animation-name: bounceIn;
}

.titleSection:hover {
	background-color: white;
}