body {
	font-family: "arial", Serif;
	background-color: #BDBDBD;
	color: white;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

li {
	float:left;
	min-height: 120px;
	width: 100%;
	border: 1px solid black;
	margin: 0px;
	padding: 5px;
}

footer {
	float:left;
	min-height: 50px;
	width: 100%;
	text-align: center;
}